.about {
  min-height: 100vh;
  padding-top: 120px;
  background-color: #ffffff;

  img {
    display: block;
    margin-right: 68px;
  }

  &_info {
    display: flex;
  }

  &_title {
    h1 {
      display: inline-block;
    }

    padding-top: 6px;
    display: flex;
    align-items: center;
  }

  &_description {
    //width: 570px;
    height: 123px;
    margin-top: 20px;
  }

  &_skills {
    width: 570px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
  }
}