.experience {
  padding-top: 120px;

  &__card {
    padding-left: 10px;
    padding-top: 85px;
    display: grid;
    grid-template: repeat(2, auto)/repeat(4, 270px);
    grid-auto-rows: 1fr;
    gap: 13px;
  }

  &__progress {
    padding-top: 176px;
    display: grid;
    grid-template: repeat(2,minmax(14px, auto))/repeat(3,350px);
    column-gap: 45px;
    row-gap: 86px;
  }
}
