.skill {
  position: relative;
  width: 260px;
  height: 116px;
  margin-bottom: 20px;

  &-item {
    display: grid;
    grid-template-columns: 40px 200px;
    column-gap: 20px;

    &-circle {
      position: relative;
      padding: 13px 0 0 15px;
      @include before_circle;

      &:before {
        top: 0;
      }
    }
  }

  &__text {
    padding-top: 6px;
    height: 89px;
    font-size: 12px;
  }

}